.cache/
.bash_logout
Downloads/
.pki/
.ssh/
.Xauthority
.bash_profile
.local/
.node_repl_history
.repoconfig/
.Xdefaults
.bash_history
.bashrc
.config/
.nv/
.vscode-oss/
.xinitrc
.fehbg
Logs/backups/**
Logs/*.txt
.tmux**
.esd**
.npm/
.mplayer/
test**
Pictures/
.nvidia-settings-rc
.dbshell
.mongorc.js
.pm2/
Image/
.gitconfig
.repo_.gitconfig.json
image/
.gdrive
.node-gyp/
