**/node_modules/
.cache/
.config
.gimp-2.8
.i3
.icons
.local
.moc
.mozilla
.npm
.pm2
.nv
.pki
.ssh
.urxvt
.vscode-oss
Desktop
Documents
Logs
Music
node_modules
Templates
Videos
.bash_history
.bash_logout
.profile
.bash_profile
.bashrc
.dir_colors
.dmenurc
.dmenurc
.gtkrc-2.0
.node_repl_history
.bash_profile
.tmux.conf
.viminfo
.Xauthority
.Xclients
.xinitrc
.xprofile
.Xresources
.xsession-errors
.xsession-errors.old
CoinsConfig.json
Overclocks.json
SystemConfig.json
Init.txt
.dmrc
.gitconfig
Build/aurPackages.txt

Build/packages.txt
.face
.fehbg
